<!-- Global Container -->
<div class="flex md:min-h-screen md:justify-center md:items-center md:bg-Very-light-grayish-blue">

  <!-- App Container -->
  <div class="px-3 py-5 flex flex-col md:w-[750px] md:bg-White md:px-6 md:py-6 md:rounded-xl md:shadow-Light-grayish-blue-2 md:shadow-2xl">

    <!-- Notifications Container -->
    <app-notification [notifications]="(notifications$ | async)!" (markAllAsRead)="markAllAsRead()"></app-notification>

    <!-- Messages -->
    <div *ngFor="let message of messages" class="mt-4">
      <app-post [message]="message"></app-post>
    </div>

  </div>


</div>

